'exception-reporting':
  'userId': '8119539e-c446-142a-5cf3-2d2da74ee0b3'
'release-notes':
  'viewedVersion': '0.60.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '0cdf6133937792814c5dc1188eb591325358aa68'
'editor':
  'fontSize': 14
  'fontFamily': 'Inconsolata'
  'showInvisibles': true
  'softTabs': false
  'tabLength': 4
'core':
  'themes': [
    'atom-dark-ui'
    'base16-tomorrow-dark-theme'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'projectHome': '/Users/josh/src'
  'disabledPackages': [
    'archive-view'
    'autocomplete'
    'autosave'
    'background-tips'
    'dev-live-reload'
    'exception-reporting'
    'feedback'
    'image-view'
    'keybinding-resolver'
    'markdown-preview'
    'metrics'
    'welcome'
  ]
'tree-view': {}
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
'whitespace':
  'removeTrailingWhitespace': false
